<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>com.mycompany.segudoprevio.controller.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>com.mycompany.segudoprevio.controller.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>com.mycompany.segudoprevio.controller.Buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
